name: main
on:
  push:
    branches:
      - main
  pull_request:

env:
  MSRV: 1.85.0

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt install -y protobuf-compiler
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - run: cargo fmt --all --check
      - run: cargo clippy --all-targets -- --deny warnings
      - run: cargo test

  build-stable:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt install -y protobuf-compiler
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo build --workspace --release

  build-msrv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${MSRV}
      - run: |
          sed -i "/examples/s/^/    #/" Cargo.toml
      - run: cargo build --workspace --release
